$mainColorA: #9cb3d7;
$mainColorB: white;
$transparent: #ffffff00;
$font-small: 0.8rem;

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  transition: 0.4s;

  &--alt {
    @extend .main-menu;
    background: #4668d8ed;
  }
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  list-style: none;

  .dropdown {
    list-style: none;
    background: white;
    border: 0.5px solid black;
    position: absolute;
    visibility: hidden;
    margin-top: 20px;
    transition: width 2s;
    border-radius: 10px;
    max-height: 0;
    transition: all 0.4s;

    li {
      padding: 10px 0px 10px 0;
    }

    a {
      font-size: 0.7rem;
      color: black;
      padding: 10px 100px 10px 10px;
    }
  }

  .logo-background {
    background-image: url("../../images/logo-background.png");
    background-repeat: no-repeat;
    background-size: 128px 120px;
    height: 130px;
    width: 130px;
    transition: 0.4s;
  }

  .logo-background-noShow {
    background-image: none;
    transition: 0.4s;
  }

  .nav-item {
    a {
      padding: 0 20px;
      font-size: 0.9rem;
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: #ff0000;
    }
  }

  .guttering-nav {
    height: 100px;
  }

  //// DropDown

  .dropdown-toggle:hover + .dropdown,
  .dropdown:hover {
    visibility: visible;
    max-height: 500px;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  @media screen and (max-width: 768px) {
    .text {
      width: 150%;
    }

    .nav-icon {
      margin: 0 20px 0 0;
      div {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }
    }

    .button-1 {
      display: none;
    }

    .no-show {
      display: none;
      text-align: right;
      position: absolute;
      top: 110px;
      left: 0px;
      background: white;
      width: 100%;

      &--scroll {
        @extend .no-show;
        top: 60px;
      }

      &--visible {
        @extend .no-show;
        display: block;
      }

      &--invisible {
        @extend .no-show;
        display: none;
      }

      li {
        padding: 5px;
      }

      a {
        color: black;
      }
    }

    .nav {
      .dropdown {
        display: block;
        position: relative;
        margin: 0;
        text-align: right;

        a {
          text-align: right;
          padding: 0 20px;
        }
      }
    }
  }
}
