.header-2{
  font-size: 2.6em;
  font-weight: 600;
}
.header-2--spacing {
  font-size: 2.6em;
  font-weight: 600;
  margin:20px auto 40px auto;
}
.header-2--no-spacing{
  font-size: 2.6em;
  font-weight: 600;
  margin:5px;
}

