.section {
  padding: 25px 0;
}
.section-hero {
  background-image: linear-gradient(
      180deg,
      rgba(238, 238, 238, 0.0001) -7.14%,
      rgba(0, 0, 0, 0.3) 95%
    ),
    url("../../Pictures/hero-image.png");
  background-size: cover;
  color: #ffe6e6;
}
.section--cta {
  background: #3461ad;
  color: white;
  font-weight: 100;
}
.trust {
  background-color: #fafafa;
}
.col-centered {
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        180deg,
        #0000004a -7.14%,
        rgba(0, 0, 0, 0.3) 95%
      ),
      url("../../Pictures/hero-image-ipad.png");
  }
}
@media (max-width: 425px) {
  .sections--section {
    padding: 40px 0;
  }
}
