$mainColorA: #cca353;
$mainColorB: white;
$transparent: #ffffff00;

* {
  font-family: Poppins, sans-serif;
}

.generic {
  border: 1px solid white;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  background: $mainColorA;
  color: $mainColorB;
  text-align: center;
  padding: 1px 0 1px 0;
  font-size: 0.8em;
  font-weight: 100;
}

.hero-container {
  display: flex;
  background-image: url("../../images/background_search_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25em;
}

.hero-options {
  display: flex;
  color: $mainColorB;
  justify-content: center;
  margin: 15px;
}

.hero-option {
  border-bottom: 1px solid $mainColorB;
  padding: 20px 40px 5px 40px;
  font-weight: 600;
  font-size: 0.83rem;
  width: 3.5rem;
  text-align: center;
  font-size: 0.7em;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-A {
  color: $mainColorB;
  background: $mainColorA;
  border-radius: 0px 7px 7px 0px;
  border: 2px solid $mainColorA;
  padding: 7px 0;
  width: 60px;
  float: right;
  font-size: 0.7em;
  font-weight: 600;
}

.button-B {
  color: $mainColorB;
  background: $transparent;
  border-radius: 7px 0px 0px 7px;
  border: 2px solid $mainColorA;
  padding: 7px 0px;
  width: 60px;
  margin: 0;
  font-size: 0.7em;
  font-weight: 600;
}

.search-bar-left {
  margin: 0 10px 0 0;
  float: right;
  padding: 7px;
  width: 30em;
  font-size: 0.7em;
  font-weight: 500;
}

.search-bar-right {
  margin: 0 0 0 10px;
  padding: 7px;
  width: 30em;
  float: left;
  font-size: 0.7em;
}

.header {
  text-align: center;
  padding: 10px 0;
  margin: 0;
  color: $mainColorA;
  font-size: 0.7em;
}

.main-content {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.container40 {
  width: 40%;
  text-align: center;
}

.container60 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 13rem;
  margin: 0 2rem 2rem 2rem;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.image-container {
  margin-bottom: 0.5rem;
  background: black;
  height: 13rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.showcase-image {
  width: 100%;
}

.header-small {
  margin: 0;
  font-size: 1rem;
}

.address {
  line-height: 0.5;
  font-size: 0.8rem;
}

.rating {
  line-height: 0.5;
  text-align: right;
  font-size: 0.8rem;
}
